<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	debug="false" status="INFO">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
		    <!-- I want to just print the first line of stack traces to console output - when they are available; the rest will be available in the log file -->
			<PatternLayout pattern="%d %p [%t] %c - %m%notEmpty{ [%X{clientid} %X{solution}]}%notEmpty{: (full stack is in log file)\n%ex{short}}%ex{none}%n%n" />
		</Console>
		
	    <File name="file" fileName="servoy_log.txt">
	      <PatternLayout>
	        <Pattern>%d %p [%t] %c - %m%equals{ [%X{clientid} %X{solution}]}{ [ ]}{}%n</Pattern>
	      </PatternLayout>
	    </File>
		
		<Async name="async_globis_health_monitor_file">
			<AppenderRef ref="globis_health_monitor_file" />
		</Async>
		
		<!-- GLOBIS HEALTH MONITOR LOGGER -->
		
		<RollingFile name="globis_health_monitor_file"
			fileName="C:/GLOBIS_UPLOAD_LOCATION/jenkins/globislogs/health_monitor_unit_tests/health_monitor_unit_tests.txt"
			filePattern="C:/GLOBIS_UPLOAD_LOCATION/jenkins/globislogs/health_monitor_unit_tests/globis_health_monitor-%i.txt.zip"
			immediateFlush="true" append="true">
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
				<DefaultRolloverStrategy max="2"/>
			</Policies>
			<PatternLayout
				pattern="{ &quot;ghm_time&quot;: &quot;%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}&quot;, &quot;level&quot;: &quot;%p&quot;, &quot;instance&quot;: &quot;%c&quot; }%throwable{none}%n" />
		</RollingFile>
    
		<Async name="asyncfile">
			<AppenderRef ref="file" />
		</Async>
		
	</Appenders>
	<Loggers>
		<!-- GLOBIS LOGGERS -->
		<Logger name="Log.Globis" level="DEBUG" >
			<!-- 
				always leave Logger name="Log.Globis" on level="DEBUG"
				always leave AppenderRef ref="async_globis_health_monitor_file" on level="INFO"
				modify 		 AppenderRef ref="async_servoy_file" level to the desired log level,
							 fe DEBUG for test purposes and WARN for production
			-->
			<AppenderRef ref="asyncfile" level="DEBUG" />
			<AppenderRef ref="async_globis_health_monitor_file" level="INFO" />
		</Logger>
		<!-- SERVOY LOGGERS -->
		<Logger name="com.servoy.j2db.util.Debug" level="WARN" >
			<AppenderRef ref="async_globis_health_monitor_file" level="WARN" />
		</Logger>
		<Logger name="com.servoy.automation" level="INFO" />
		<Logger name="com.servoy.j2db.dataprocessing.editedRecords"
			level="WARN" />
		<Logger name="com.servoy.j2db.server.persistence.Server"
			level="WARN" />
		<Logger
			name="com.servoy.j2db.persistence.XMLInMemoryImportHandlerVersions11AndHigher"
			level="WARN" />
		<Logger name="com.servoy.j2db.persistence.XMLExporter"
			level="WARN" />
		<Logger name="com.servoy.j2db.server" level="WARN" />
		<Logger name="com.servoy.j2db.server.main.WebServer"
			level="WARN" />
		<Logger name="com.servoy.j2db.datasource" level="WARN" />
		<Logger name="com.servoy.j2db.datasource.ClientManager"
			level="WARN" />
		<Logger name="org.sablo" level="WARN" />
		<Logger name="org.sablo.specification.property" level="WARN" />
		<Logger name="org.sablo.websocket" level="WARN" />
		<Logger name="com.servoy.j2db.server.ngclient.property.types"
			level="WARN" />
		<Logger name="org.apache.wicket" level="WARN" />
		<Logger
			name="org.apache.wicket.request.target.component.listener.BehaviorRequestTarget"
			level="ERROR" />
		<Root level="WARN">
			<AppenderRef ref="asyncfile" />
			<AppenderRef ref="stdout" level="ERROR"/>
		</Root>
	</Loggers>
</Configuration>
